<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-white active bg-gradient-primary" href="{% url 'table' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">home</i>
            </div>
            <span class="nav-link-text ms-1">Acceuil</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white " href="{% url 'myChart' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">analytics</i>
            </div>
            <span class="nav-link-text ms-1">Statistiques</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white " href="{% url 'json' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">code</i>
            </div>
            <span class="nav-link-text ms-1">Api</span>
        </a>
    </li>
</ul>